<span class="marpatientInfo left">
	{{marpatient.familyName}} {{marpatient.givenName}} | {{marpatient.nric}} |
	 {{getAge marpatient.dob}}yo | {{marpatient.weight}}kg | {{marpatient.height}}cm |
	 Gender: {{marpatient.gender}} | Allergy: {{marpatient.allergy}} | Consultant: {{marpatient.consultant}} |
	 Diagnosis: {{marpatient.diagnosis}}
</span>
